<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat APP</title>
    <link rel="stylesheet" href="https://bootswatch.com/4/journal/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body class="app-body">
    <div class="user">
        <h2>Participants</h2>
        <div class="users">
        </div>
    </div>
    <div class="main">
        <% if(name!=''){ %>
            <%= name %>
        <% } %>
        <div class="message">
        </div>
        <footer>
            <input type="text" placeholder="Type a message" id="msg" autofocus>
            <button id="s" type="submit">send</button>
        </footer>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="libs/moment.js"></script>
    <script>
        let socket=io();
    function scrolldown()
    {
        let m=document.querySelector('.message').lastElementChild;
        m.scrollIntoView();
    }
    socket.on('connect',()=>{
        console.log("server connected");
        let q=window.location.search.substring(1);
        let t=decodeURI(q).replace(/=/g,'":"').replace(/&/g,'","').replace(/\+/g,' ');
        let k=JSON.parse('{"'+t+'"}');
        // $.get('/app',function(k){
        // let k=JSON.parse('{"name" : "om" , "room" : "5"}');
        socket.emit('join',k, function(err){
            if(err)
            {    
                alert(err);
                window.location.href="/";
            }
            else
                console.log("NO Error");
        });
        socket.emit('admin');
        // });
    });

    socket.on('updatelist',(user, obj)=>{
        console.log(obj);
        let vd=document.createElement('ol');
        user.forEach(function(element){

            let v=document.createElement('li');
            // console.log(element);
            if(element.status==="offline")
            {    
                v.innerHTML=`${element.name}<span><img src="https://img.icons8.com/emoji/48/000000/red-circle-emoji.png"/>last seen at ${element.time}</span>`;
            }
            else
            {
                v.innerHTML=`${element.name}<span><img src="https://img.icons8.com/emoji/48/000000/green-circle-emoji.png"/>Online</span>`;
            }
            vd.appendChild(v);
        });
        let s=document.querySelector('.users');
        s.innerHTML="";
        s.appendChild(vd);
    });
    // socket.on('newmessage-admin',function(message){
    //     let v=document.createElement('div');
    //     v.setAttribute("class","me");
    //     v.innerText=message;
    //     document.querySelector('.message').appendChild(v);
    //     // setTimeout(() => {
    //     //     document.querySelector('h3').innerText="";
    //     // }, 3000);
    //     scrolldown();
    // });

    document.getElementById("s").addEventListener('click',(e)=>{
        let v=document.getElementById("msg").value;
        socket.emit('create-message',v);
        document.getElementById("msg").value="";
    });
    socket.on('old-msg',function(docs,name){
        for(var i=0;i<docs.length;i++)
        {
            if(docs[i].n!==name)
            {
                let b=document.createElement('div');
                b.setAttribute('class','left');
                let v=document.createElement('div');
                v.setAttribute('class','l');
                let u=document.createElement('div');
                u.setAttribute('class','lt');
                u.innerHTML=`<b>From</b>:${docs[i].n}`;
                v.innerHTML= `${docs[i].m}     <span>${docs[i].create}</span>`;
                b.appendChild(u);
                b.appendChild(v);
                document.querySelector('.message').appendChild(b);
                scrolldown();
            }
            else
            {
                let b=document.createElement('div');
                b.setAttribute('class','right');
                let v=document.createElement('div');
                v.setAttribute('class','r');
                v.innerHTML=`${docs[i].m}     <span>${docs[i].create}</span>`;
                b.appendChild(v);
                document.querySelector('.message').appendChild(b);
                scrolldown();
            }
        }
    });
    socket.on('newmessage',function(message,f){
        if(f=='left')
        {
            let b=document.createElement('div');
            b.setAttribute('class','left');
            let v=document.createElement('div');
            v.setAttribute('class','l');
            let u=document.createElement('div');
            u.setAttribute('class','lt');
            // const t=moment(message.create).format('LT');
            u.innerHTML=`<b>From</b>:${message.n}`;
            v.innerHTML= `${message.m}     <span>${message.create}</span>`;
            b.appendChild(u);
            b.appendChild(v);
            document.querySelector('.message').appendChild(b);
            scrolldown();
        }
        else
        {
            let b=document.createElement('div');
            b.setAttribute('class','right');
            // const t=moment(message.create).format("LT");
            let v=document.createElement('div');
            v.setAttribute('class','r');
            v.innerHTML=`${message.m}     <span>${message.create}</span>`;
            b.appendChild(v);
            document.querySelector('.message').appendChild(b);
            scrolldown();
        }
    });
    socket.on('disconmect',()=>{
        console.log('server disconnected');
    });
</script>
</body>
</html>