.join-body{
    padding: 0px;
    margin: 0px;
    background: linear-gradient(to right, #00b4db, #0083b0);
}
.container{
    background-color: rgb(157, 189, 218);
    /* background-color: white; */
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flexbox;
    width: 25%;
    height: max-content;
    padding: 15px;
    margin: 295px auto;
    border: 2px solid cornflowerblue;
    border-radius: 10px;
}
/* .alert{
    width: max-content;
    margin: auto;
    font-size: 24px;
    padding: 10px;
    background-color: yellow;
    font-style: oblique 40deg;
}
.close{
    background: none;
    outline: none;
    border: none;
    size: 24px;
} */
h2{
    font-size: 26px;
}
label{
    display: block;
    font-size: 20px;
}
.input{
    background: none;
    border: none;
    outline: none;
    border-bottom: 2px solid wheat;
    padding-left: 7px;
    font-size: 18px; 
}
.fill-form{
    padding-bottom: 15px;
    padding-top: 5px;
}
#bt
{   padding: 4px;
    font-size: 10px;
    outline: none;
    border-radius: 8px;
    font-size: 18px;
    border: 2px solid black;
    width: 80px;
    margin-top: 10px;
    background-color: #00b4db;
    color: honeydew;
    cursor: pointer;
}



/* App Chat Here*/
.app-body{
    padding: 0px;
    font-family: sans-serif;
    margin: 0px;
    background-color: purple;
}
.user{
    /* margin-top: 25px; */
    /* width: 300px; */
    width: 20%;
    min-height: 99vh;
    text-align: center;
    justify-content: flex-start;
    background-color : whitesmoke;
    display: inline-block;
    overflow-y: scroll;
}
ol{
    padding-inline-start: unset;
}
#dp:hover{
    opacity: 0.7;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}
.modal-content {
    margin: auto;
    display: block;
    width: 70%;
    height: 80%;
    max-width: 700px;
}
#caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
}
.modal-content, #caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
}  
@-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}
li{
   list-style-position: inside; 
   /* background-color: rgb(181, 206, 216); */
   max-width: 90%;
   margin: 5%;
   padding-left: 2%;
   justify-content: center;
   font-size: 22px;
   font-weight: bold;
   text-align: left;
   /* border-radius: 5px; */
}
li span{
    padding-left: 2%;
    display: block;
    font-size: 18px;
    font-weight: 300;
}
li span img{
    margin-right: 2%;
    width: 3%;
    height: 3%;
}
.main{
    display: inline-block;
    width: 78%;
    /* height: 96.8vh; */
    /* margin: 25px auto; */
    margin-bottom: 0px;
    padding-top: 4px;
    background-color: whitesmoke;
    position: absolute;
    left: 20%;
}
#gr-name{
    display: inline;
    margin: 0;
    font-size: 22px;
    font-style: oblique 20deg;
    margin-left: 2%;
    font-weight: bolder;
    /* padding: 10px; */
}
.message{
    display: flexbox;
    /* width: 85%; */
    /* width: 96%; */
    min-height: 82.1vh;  
    max-height: 82.1vh;
    margin: 2%;
    margin-bottom: 10px;
    margin-top: 10px ;
    overflow-y: scroll;
    background-color: #21D4FD;
    background-image: linear-gradient(19deg, #21D4FD 0%, #B721FF 100%);

}
footer{
    margin: 20px auto;
    margin-bottom: 10px;
}
#msg{
    border: 2px solid black;
    outline: none;
    border-radius: 14px;
    padding-left: 10px;
    font-size: 24px;
    /* width: 1350px; */
    width: 90%;
    height: 50px;
    /* margin-left: 35px; */
    margin-left: 2%;
    background-color: white;
}
#s{
    height: 55px;
    width: 5%;
    background-color: rgb(196, 233, 159);
    text-align: center;
    justify-content: center;
    font-size: 24px;
    padding: 2px;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: 2px solid;
}
.me{
    margin: 20px auto;
    width: 100%;
    text-align: center;
    justify-content: center;
    font-size: 25px;
    padding: 1px 6px 1px 6px;
    float: left;
    clear: both;
    height: auto;
    display: block;
    font-weight: bold;
}
.left{
    float: left;
    margin: 10px 30px; 
    /* background: #eee; */
    clear: both;
    max-width: 50%;
    height: auto;
}
.l{
    height: auto;
    border: 2px solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    justify-content: center;
    padding: 5px 12px 5px 12px;
    font-size: 24px;
    background-color: yellowgreen;
}
.lt{
    padding-left: 8px;
    font-size: 25px;
}
span{
    font-size: 14px;
    font-weight: bold;
    vertical-align: bottom;
}
.right{
    float: right;
    margin: 30px; 
    clear: both;
    max-width: 50%;
}
.r{
    height: auto;
    border: 2px solid;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px ;
    justify-content: center;
    padding: 5px 12px 5px 12px;
    font-size: 24px;
    background-color: rgb(85, 156, 85);
}


/* NEW */
[contentEditable=true]:empty:not(:focus):before {
    content: attr(data-text)
}
.Input {
    border: 1px solid skyblue;
    border-radius: 30px;
    width: 85%;
    padding: 5px 10px;
    font-size: 22px;
    margin: 0 1%;
    transition: all .25s;
}
.Input img{
    height: 25px;
}
.Input br{
    display: none;
}
/* input::placeholder {
      color: #e3e3e3;
      font-weight: 300;
      margin-left: 20px;
} */
.Input:focus {
      outline: none;    
}
  
.chat-box-tray {
    background: #eee;
    display: flex;
    align-items: baseline;
    padding: 10px 15px;
    align-items: center;
    margin: 0 0 0 2%;
    /* margin-top: 19px; */
    bottom: 0;
}
.chat-box-tray input {
      margin: 0 10px;
      padding: 6px 2px;
}
.chat-box-tray i{    
      color: grey;
      font-size: 30px;
      cursor: pointer;
      vertical-align: middle;
}
.chat-box-tray i:last-of-type {
    margin-left: 25px;
}
.emoji-dashboard{
    display: none;
    padding: 0;
    position: absolute;
    top: 110%;
    margin: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    background: #fff;
    list-style-type: none;
    color: #a0a0a0;
    right: 0;
    z-index: 9999;
    bottom: 0;
    top: auto;
}
.emoji-dashboard .emojis {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    height: 250px;
    overflow-y: overlay;
    overflow-x: hidden;
}
.emoji-dashboard .emojis li {
    margin: 5px 15px;
    cursor: pointer;
}